NODE_ENV=development
HOSTNAME=http://miyapaweb.com
PORT=3000
SESSION_KEY=mynameisedgar

CONSUMER_KEY=secret
SECRET_KEY=secret
ACCOUNT=yieldtest
PASS=secret
TYPE=application/json
API_AUTH=http://localhost:3006/api/authenticate
API_BASE_URL=https://pry2021131-back.herokuapp.com/hcpbs/  //http://localhost:3006/api
